.blog-stuff {
  animation-timing-function: ease-in-out;
  animation-name: rock;
  animation-duration: 20000ms;
  transition: 20s;
  animation-iteration-count: infinite;
}
/* transform: rotate(0); */
/* animation-timing-function: linear; */

@keyframes rock {
  0%   {transform:rotate(15deg);}
  /* 25%  {transform:rotate(45deg);} */
  50%  {transform:rotate(-15deg);}
  /* 75%  {transform:rotate(-45deg);} */
  100% {transform:rotate(15deg);}
}
