/* lists */
.proj-features li span {
  top: -0.3rem;
}
.proj-features li:before {
  content: '';
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  background-image: url('/icons/feature.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 400px) {

  .proj-features-wrap {
    padding-left: 2rem;
    padding-right: 2rem;

  }
  .proj-features-wrap .container {
    padding-left: 0;
  }
  .proj-features li span {
    margin-left: 0 !important;
  }
  .proj-features li:before {
    display: none;
  }
}

/* select */
.selector > div {
  cursor: pointer;
  background: #090819;
  border: none;
  border-radius: 0.125rem;
  padding: 0.65rem 0.8rem;
  outline: none !important;
  border: none !important;
  font-size: 1.125rem;
}
.selector > div > div,
.selector > div > div > div {
  color: #f2f3f7;
}
.css-1okebmr-indicatorSeparator {
  display: none;
}
.css-1pahdxg-control {
  box-shadow: none !important;
}
.css-6q0nyr-Svg {
  fill: #546a90 !important;
}
.css-g1d714-ValueContainer {
  padding-top: 0;
  padding-bottom: 0 !important;
}
.css-26l3qy-menu {
  border-radius: 0.125rem;
  cursor: pointer;
  padding: 0;
}
/* select (sort posts) */
.selector.sort-posts {
  max-width: 14rem;
}

/* hover select item */
.css-1n7v3ny-option {
  background-color: #0c0a20 !important;
  background: #0c0a20 !important;
  border-radius: 0.125rem;
}
/* selected item */
.css-9gakcf-option {
  background-color: #3e0bdc !important;
  background: #3e0bdc !important;
  border-radius: 0.125rem;
}

/* tags */
.tags span {
  border-width: 1px;
  border-radius: 0.125rem;
  border-style: solid;
  color: #f2f3f7;
  padding: 0.25rem 0.5rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9rem;
  user-select: none;
}
.tags span.active {
  text-shadow: 1px 1px 1px black;
}
.tags span:hover {
  opacity: 0.95;
}
.tags span:nth-child(1),
.tags span:nth-child(18) {
  border-color: #01F0E3;
  text-shadow: 0 0 10px #01F0E3;
}
.tags span.active:nth-child(1),
.tags span.active:nth-child(18) {
  background-color: #01F0E3;
}
.tags span:nth-child(2),
.tags span:nth-child(19) {
  border-color: #4028fb;
  text-shadow: 0 0 10px #4028fb;
}
.tags span.active:nth-child(2),
.tags span.active:nth-child(19) {
  background-color: #4028fb;
}
.tags span:nth-child(3),
.tags span:nth-child(20) {
  border-color: #fe0081;
  text-shadow: 0 0 10px #fe0081;
}
.tags span.active:nth-child(3),
.tags span.active:nth-child(20) {
  background-color: #fe0081;
}
.tags span:nth-child(4),
.tags span:nth-child(21) {
  border-color: #a6e22e;
  text-shadow: 0 0 10px #a6e22e;
}
.tags span.active:nth-child(4),
.tags span.active:nth-child(21) {
  background-color: #a6e22e;
}
.tags span:nth-child(5),
.tags span:nth-child(22) {
  border-color: #456b7c;
  text-shadow: 0 0 10px #456b7c;
}
.tags span.active:nth-child(5),
.tags span.active:nth-child(22) {
  background-color: #456b7c;
}
.tags span:nth-child(6),
.tags span:nth-child(23) {
  border-color: #664e4d;
  text-shadow: 0 0 10px #664e4d;
}
.tags span.active:nth-child(6),
.tags span.active:nth-child(23) {
  background-color: #664e4d;
}
.tags span:nth-child(7),
.tags span:nth-child(24) {
  border-color: #8a45a3;
  text-shadow: 0 0 10px #8a45a3;
}
.tags span.active:nth-child(7),
.tags span.active:nth-child(24) {
  background-color: #8a45a3;
}
.tags span:nth-child(8),
.tags span:nth-child(25) {
  border-color: #f3164c;
  text-shadow: 0 0 10px #f3164c;
}
.tags span.active:nth-child(8),
.tags span.active:nth-child(25) {
  background-color: #f3164c;
}
.tags span:nth-child(9),
.tags span:nth-child(26) {
  border-color: #ffd400;
  text-shadow: 0 0 10px #ffd400;
}
.tags span.active:nth-child(9),
.tags span.active:nth-child(26) {
  background-color: #ffd400;
}
.tags span:nth-child(10),
.tags span:nth-child(27) {
  border-color: #06f061;
  text-shadow: 0 0 10px #06f061;
}
.tags span.active:nth-child(10),
.tags span.active:nth-child(27) {
  background-color: #06f061;
}
.tags span:nth-child(11),
.tags span:nth-child(28) {
  border-color: #376dff;
  text-shadow: 0 0 10px #376dff;
}
.tags span.active:nth-child(11),
.tags span.active:nth-child(28) {
  background-color: #376dff;
}
.tags span:nth-child(12),
.tags span:nth-child(29) {
  border-color: #ff29fc;
  text-shadow: 0 0 10px #ff29fc;
}
.tags span.active:nth-child(12),
.tags span.active:nth-child(29) {
  background-color: #ff29fc;
}
.tags span:nth-child(13),
.tags span:nth-child(30) {
  border-color: #546a90;
  text-shadow: 0 0 10px #546a90;
}
.tags span.active:nth-child(13),
.tags span.active:nth-child(30) {
  background-color: #546a90;
}
.tags span:nth-child(14),
.tags span:nth-child(31) {
  border-color: #f7b83d;
  text-shadow: 0 0 10px #f7b83d;
}
.tags span.active:nth-child(14),
.tags span.active:nth-child(31) {
  background-color: #f7b83d;
}
.tags span:nth-child(15),
.tags span:nth-child(32) {
  border-color: #a875ff;
  text-shadow: 0 0 10px #a875ff;
}
.tags span.active:nth-child(15),
.tags span.active:nth-child(32) {
  background-color: #a875ff;
}
.tags span:nth-child(16),
.tags span:nth-child(33) {
  border-color: #34cef9;
  text-shadow: 0 0 10px #34cef9;
}
.tags span.active:nth-child(16),
.tags span.active:nth-child(33) {
  background-color: #34cef9;
}
.tags span:nth-child(17),
.tags span:nth-child(34) {
  border-color: #e5db74;
  text-shadow: 0 0 10px #e5db74;
}
.tags span.active:nth-child(17),
.tags span.active:nth-child(34) {
  background-color: #e5db74;
}

/* cards */
.card-triangle {
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 15px;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-left-radius: 0.125rem;
  transform: rotate(180deg);
}
.card-overlay {
  border-top: 1px solid rgba(1,240,227,1);
  border-bottom: 1px solid rgba(64,40,251,1);
  background-image:
    linear-gradient(rgba(1,240,227,1), rgba(64,40,251,1)),
    linear-gradient(rgba(1,240,227,1), rgba(64,40,251,1));
  background-size: 1px 100%;
  background-position:0 0, 100% 0;
  background-repeat: no-repeat;
  border-radius: 0.125rem;
}

/* shop modal */
.ReactModal__Body--open {
  overflow: hidden !important;
}
@media (max-width: 350px) {

  .shop-modal-txt {
    padding-left: 1rem;
  }
}

/* about section */
@media (max-width: 400px) {
  .about {
    padding: 2.5rem 2rem 3rem;
  }
}

/* features max width */
@media (max-width: 400px) {
  .features {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.features-col {
  max-width: 730px;
}

/* homepage tech & software */
@media (max-width: 400px) {
  .tech-card {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* homepage projects & slider */
.projects-list {
  display: none;
}
.projects-list .p-6 {
  padding: 0;
}
.projects-list p {
  padding-bottom: 2.75rem;
}
.slider img {
  height: 60vh;
}
.projects-list .p-6:last-child p {
  padding-bottom: 2.25rem;
}
.slick-track {
  display: flex !important;
}
@media (max-width: 1015px) {
  .projects {
    padding: 3rem;
  }
  .slick-slider {
    display: none !important;
  }
  .projects .slider {
    display: none;
  }
  .projects-list {
    display: block;
  }
  .projects-list img {
    height: 22rem;
  }
}
@media (max-width: 767px) {
  .projects-list img {
    height: 18rem;
  }
}
@media (max-width: 400px) {
  .projects {
    padding: 2.5rem 2rem 3rem;
  }
  .projects-list img {
    height: 12rem;
  }
}

/* homepage labs */
@media (max-width: 400px) {
  .home-labs,
  .home-labs-below {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .home-labs-below > a > div {
    padding: 1.5rem;
  }
}

/* labs section */
@media (max-width: 768px) {
  .labs-container {
    max-width: 28rem;
  }
}
@media (max-width: 400px) {

  .labs-container,
  .blog-list,
  .post {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* blog list */
.blog-header {
  height: 60vh;
}
@media (max-width: 1000px) {
  .blog-header {
    padding: 8.5rem 0;
  }
}
@media (max-width: 6000px) {
  .blog-header {
    padding: 6.25rem 0 5rem;
  }
}

/* store section */
@media (max-width: 400px) {

  .store-items {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* product select */
.select-size {
  width: 8.15rem;
}
.select-qty {
  width: 7rem;
}

/* React Modal shop page, override component */
.Modal {
  max-width: 1200px;
  margin: 1.75rem auto;
  position: relative;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
/* filter background while modal is open */
.ReactModal__Body--open #__next {
  filter: blur(10px);
}
.Overlay {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
@media (max-width: 1023px) {
  .Modal {
    transform: none;
    top: 0;
    left: 0;
    margin: 0;
  }
  .product-box {
    display: none;
  }
}

/* project */
.proj-intro-img {
  height: 100vh;
}
.proj-intro-txt {
  top: 7rem;
}
@media (min-width: 1024px) {

  .proj-intro-img {
    height: 50vh;
  }
  .proj-intro-txt {
    bottom: 60vh;
    top: auto;
  }
}
@media (max-width: 400px) {
  .proj-intro-txt {
    top: 5rem;
  }
}
@media (max-width: 400px) {

  .concept {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.device-1 {
  height: 300px;
}
.device-2 {
  height: 400px;
}
.device-3 {
  height: 450px;
}
.device-4 {
  height: 300px;
}
@media (max-width: 639px) {
  .device-1 {
    height: 200px;
  }
  .device-2 {
    height: 300px;
  }
  .device-3 {
    height: 250px;
  }
  .device-4 {
    height: 200px;
  }
}
@media (max-width: 400px) {
  .device-1 {
    height: 150px;
  }
  .device-2 {
    height: 250px;
  }
  .device-3 {
    height: 200px;
  }
  .device-4 {
    height: 150px;
  }
}
.screenshot-1,
.screenshot-2 {
  height: 370px;
}
.screenshot-3,
.screenshot-4,
.screenshot-5 {
  height: 580px;
}
@media (max-width: 1279px) {
  .screenshot-1,
  .screenshot-2 {
    height: 320px;
  }
  .screenshot-3,
  .screenshot-4,
  .screenshot-5 {
    height: 440px;
  }
}
@media (max-width: 1023px) {
  .screenshot-1,
  .screenshot-2 {
    height: 220px;
  }
  .screenshot-3,
  .screenshot-4,
  .screenshot-5 {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .screenshot-1,
  .screenshot-2 {
    height: 25vw;
  }
  .screenshot-3,
  .screenshot-4,
  .screenshot-5 {
    height: 38vw;
  }
}

/* Search dropdown */

.search-dd:empty {
  display: none
}
.search-dd li {
  border-left-style: solid;
  border-left-width: 2px;
}
.search-dd a:nth-child(1) li { border-left-color: #00f0e3; }
.search-dd a:nth-child(2) li { border-left-color: #06f061; }
.search-dd a:nth-child(3) li { border-left-color: #f3164c; }
.search-dd a:nth-child(4) li { border-left-color: #ffd400; }
.search-dd a:nth-child(5) li { border-left-color: #ff9b50; }

.tablet-dd {
  max-width: 315px;
  width: 100%;
  margin-top: 3.5rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.75rem;
}
@media (max-width: 767px) {
  .tablet-dd {
    margin-top: 0.75rem;
  }
  .tablet-dd input {
    padding-top: 4px;
    padding-bottom: 3px;
    width: 100%;
  }
}
.mountains {
  max-height: 650px;
  object-fit: cover;
  object-position: top center;
  /* opacity: 0.75; */
  position: fixed;
}
@media (max-width: 767px) {
  .mountains {
    position: absolute;
  }
}
