/* social icons */
.behance {
  margin-top: 0.175rem;
}
.behance-mobile {
  margin-top: 1.275rem;
}
.reddit {
  max-width: 90%;
  margin-top: -0.1rem;
}
.github-mobile {
  width: 1.35rem;
}
.twitch-mobile {
  margin-top: 1.2rem;
}
.email-mobile {
  margin-top: 1.12rem;
}
