@media (min-width: 1024px) {
  .top-menu {
    padding-left: calc(100% / 12);
  }
}
@media (min-width: 1200px) {
  .top-menu {
    padding-left: calc(100% / 5);
  }
}
.nav-badge {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 104px;
}
@media (max-width: 767px) {
  .nav-logo {
    position: fixed;
    top: 17px;
    left: 56px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 340px) {
  .nav-logo {
    max-width: 128px;
    top: 18px;
  }
}
.nav-item-link:hover span {
  color: #f2f3f7;
}
.search-input {
  padding-right: 27px;
  width: 190px;
}
.nav-search {
  margin-top: -2px;
}
